.App {
  text-align: center;
}

h1{
  font-size: 30px;
}

body {
  background-image: url('https://media.istockphoto.com/photos/view-of-a-green-meadow-with-blue-flowers-on-a-sunny-day-picture-id173936056?b=1&k=20&m=173936056&s=170667a&w=0&h=-dyn96uJxXTHRaALnizqaxik4UHC9SbKphhf7I9B2d8=');
  background-size: cover;
  background-repeat: no-repeat;
}

.mainDiv {
  text-align: center;
  margin: 80px auto;
}

label {
  border: 0px;
  padding: 10px;
  font-size: 30px;
}

input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  background: none;
  padding: 10px;
  color: black;
  font-size: 20px;

}

input::placeholder{
  color: white;
}

button {
  background-color: #fbaf00;;
  border: 0px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
}
button:active {
  background-color: #ccc;
  transform: scale(0.9);
}


.showdiv{
  font-size: 25px;
}